@import '../../../../../sass/main.scss';

// section: on click helper

.tableViewCellOnClickHelper {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid $darkBlack;
}

.tableViewCellOnClickHelper:hover {
    @include boxshadow;
    cursor: pointer;
}

// section: table view cell

.tableViewCell {
    display: flex;
    min-height: 90px;
}

.tableViewCell__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.tableViewCell__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
}

.tableViewCell__right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    margin-left: 15%;
}

.tableViewCell__dot {
    height: 10px;
    width: 10px;
    background-color: $blue;
    border-radius: 50%;
}

.tableViewCell__title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tableViewCell__info {
    font-size: 10px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
    color: $grey;
}

.tableViewCell__tag {
    font-size: 10px;
    font-weight: bold;
    margin-right: 20px;
}
