@import '../../../../../../sass/main';

.dropdownContainer {
    display: flex;
    flex-direction: column;
}

.dropdownInfoContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: bold;
}

.dropdownChildrenContainer {
    flex: 1;
    display: flex;
    min-height: 45px;
}
