@import '../../../sass/main.scss';

// clear styling of button
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    height: 100%;
    width: 100%;
}

.buttonTitle {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    font-size: 14px;
    font-weight: bold;
}

.buttonTitle:hover {
    color: $green;
    border-bottom: 4px solid $green;
    cursor: pointer;
}

.selected {
    color: $green;
    border-bottom: 4px solid $green;
}
